/* Сброс стилей css */
* {
  padding: 0px;
  margin: 0px;
  border: none;
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* убрать стрелки у инпута для указания цифр */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#main_form {
  width: 22vw;
  height: 60vh;
  margin: 5rem auto;
  position: relative;
  border: 5px black solid;
  border-radius: 1rem;
}

/* Настройки экрана */
#screen {
  border-bottom: 15px black solid;
  position: absolute;
  width: 100%;
  height: 20%;
}

#top_view {
  text-align: right;
  margin: 1rem 1rem 0 0;
  font-size: 1rem;
}

#top_div {
  position: absolute;
  width: 100%;
  height: 40%;
}

#input_screen {
  position: absolute;
  width: 100%;
  height: 60%;
  top: 40%;
}

#input {
  font-size: 1.5rem;
  text-align: right;
  width: 100%;
  padding: 1rem;
}

/* Настройки панели ввода с кнопками */
#panel {
  background-color: black;
  position: absolute;
  width: 100%;
  height: 80%;
  top: 20%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: auto;
  grid-template-areas:
    "one two three plus clear"
    "four five six subtract backspace"
    "seven eight nine multiply equals"
    "zero dot change divide equals";
}

/* Растянуть кнопку РАВНО на 2 блока */
.equals {
  grid-area: equals;
}

button {
  border: 1px black solid;
  background: white;
  border-radius: 8px;
}
